<!--% from "layout/layout.html" import html with context %-->
<!--% call html(
  path="/404.html",
  css=["/pages_404.css"],
  js=["/layout.js"],
  desc="404")
%-->
<main class="justify-items-center items-center">
  <div class="prose text-center">
    <h1>404</h1>
    <h3>The page you're looking for doesn't exist</h3>
    <h2>
      <a href="/index.html">
        <i class="fas fa-dog text-primary-400"></i>
        take me home.
        <i class="fas fa-dog text-primary-400"></i>
      </a>
    </h2>
  </div>
</main>
<!--% endcall %-->
