<!--% from "layout/layout.html" import html with context %-->
<!--% from "components/github.html" import github_lang with context %-->
<!--% from "components/github.html" import github_stars with context %-->
<!--% from "components/github.html" import github_forks with context %-->

<!--% call html(
  path="/index.html",
  css=["/pages_index.css"],
  js=["/layout.js"],
  desc=user)
%-->
<main class="m-0 py-4 px-4 @container sm:px-0">
  <div
    class="@9xl:columns-5 w-full columns-1 @2xl:columns-2 @5xl:columns-3 @7xl:columns-4"
  >
    <!--% for spec in specs %-->
    <!--% set spec_uri = ('/' ~ spec.name ~ '/index.html') | e %-->

    <div
      class="card mb-4 drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl active:drop-shadow-xl"
    >
      <figure
        class="prose mx-0 grid break-inside-avoid-column overflow-x-hidden bg-gray-100"
      >
        <!--% if spec.images %-->
        <!--% set image = spec.images[0] %-->
        <a
          class="figure-img group/index m-0 grid w-full p-0 no-underline"
          href="<!--{ spec_uri | e }-->"
        >
          <img
            class="col-start-1 col-end-1 row-start-1 row-end-1 m-0 h-auto w-full max-w-full bg-tertiary-50 object-contain object-center p-0"
            src="<!--{ image }-->"
            alt="<!--{ (spec.title ~ '.img') | e }-->"
          />
          <div
            class="figure-facade col-start-1 col-end-1 row-start-1 row-end-1 hidden items-center justify-items-center bg-gray-100 opacity-70 group-hover/index:grid"
          >
            <i class="fas fa-chevron-right text-5xl text-stone-300"></i>
          </div>
        </a>
        <!--% endif %-->
        <h4 class="figure-title text-ellipsis px-4 pt-2 text-center uppercase">
          <a class="invis-link" href="<!--{ spec_uri | e }-->">
            <!--{ spec.title | e }-->
          </a>
        </h4>
        <div
          class="figure-meta grid grid-flow-col justify-start gap-x-4 px-4 pb-2"
        >
          <!--{ github_lang(lang=spec.language, colour=spec.colour)}-->
          <!--{ github_stars(stars=spec.stargazers_count) }-->
          <!--{ github_forks(forks=spec.forks_count) }-->
        </div>
        <figcaption class="figure-detail text-ellipsis px-4 pb-2 text-justify">
          <!--{ (spec.description or "") | e }-->
        </figcaption>
      </figure>
    </div>

    <!--% endfor %-->
  </div>
</main>
<!--% endcall %-->
