{% from "layout/layout.html" import html with context %}
{% from "components/big_button.html" import big_button with context %}
{% from "components/github.html" import github_stars with context %}
{% from "components/github.html" import github_forks with context %}


{% call html(path="/" ~ name ~ "index.html", css=["/pages_repo.css"], js=["/layout.js"]) %}
{% set TIME_FMT = "%Y-%m-%dT%H:%M:%S%z" %}
<main class="grid row-gap-8">
  <section
    id="repo-header"
    class="grid grid-col jc-end ai-centre mx-auto col-gap-4"
  >
    {{ github_stars(stargazers_count) }}
    {{ github_forks(forks_count) }}
    <a href="{{ html_url }}" class="invis-link">
      {% call big_button() %}
      View on Github <i class="fab fa-github"></i>
      {% endcall %}
    </a>
  </section>
  <section id="repo-body" class="grid mx-auto">
    <div class="markdown">
      {{ (read_me or description or "") | markdown }}
    </div>
  </section>
  <section id="repo-footer" class="grid ji-end mx-auto col-gap-4">
    <div>
      <i class="fas fa-user-edit text-start"></i>
      <time datetime="{{ updated_at.strftime(TIME_FMT) | e }}"></time>
    </div>
    <div>
      <i class="fas fa-baby text-start"></i>
      <time datetime="{{ created_at.strftime(TIME_FMT) | e }}"></time>
    </div>
  </section>
</main>
{% endcall %}

