<!--% from "layout/layout.html" import html with context %-->
<!--% from "components/big_button.html" import big_button with context %-->
<!--% from "components/github.html" import github_stars with context %-->
<!--% from "components/github.html" import github_forks with context %-->

<!--% call html(
  path="/" ~ name ~ "index.html",
  css=["/pages_repo.css"], 
  js=["/layout.js"], 
  desc=description or "")
%-->
<!--% set TIME_FMT = "%Y-%m-%dT%H:%M:%S%z" %-->
<main class="justify-items-center">
  <div class="grid grid-flow-row grid-cols-1 gap-y-8">
    <section class="grid grid-flow-col justify-end items-center gap-x-4">
      <!--{ github_stars(stargazers_count) }-->
      <!--{ github_forks(forks_count) }-->
      <a href="<!--{ html_url }-->" class="invis-link">
        <!--% call big_button(classes=["border-dashed"]) %-->
        View on Github
        <i class="fab fa-github"></i>
        <!--% endcall %-->
      </a>
    </section>

    <section class="self-center">
      <article class="markdown">
        <!--{ (read_me or description or "") | markdown }-->
      </article>
    </section>

    <section class="grid grid-flow-col justify-end items-center gap-x-4">
      <div>
        <i class="fas fa-baby text-left"></i>
        <time datetime="<!--{ created_at.strftime(TIME_FMT) | e }-->"></time>
      </div>
      <div>
        <i class="fas fa-user-edit text-left"></i>
        <time datetime="<!--{ updated_at.strftime(TIME_FMT) | e }-->"></time>
      </div>
    </section>
  </div>
</main>
<!--% endcall %-->
