{% from "layout/layout.html" import html with context %} 
{% from "components/github.html" import github_stars with context %}
{% from "components/github.html" import github_forks with context %}


{% call html() %}
{% set TIME_FMT = "%Y-%m-%dT%H:%M:%S%z" %}
{% set HUMAN_FMT = "%Y-%m-%d H:%M:%S %Z" %}
<main class="d-grid p-8 row-gap-8">
  <section
    class="repo-header d-grid grid-col jc-end ai-centre mx-auto col-gap-4"
  >
    {{ github_stars(stargazers_count) }} 
    {{ github_forks(forks_count) }}
    <a href="{{" html_url | urlencode }} class="invis-link">
      {% call big_button() %} View on Github <i class="fab fa-github"></i>
      {% endcall %}
    </a>
  </section>
  <section class="repo-body d-grid mx-auto">
    <div class="markdown w-100">{{ read_me | markdown }}</div>
  </section>
  <section class="repo-footer d-grid ji-end mx-auto col-gap-4 hidden">
    <span>
      Created at:
      <time datetime="{{ created_at.strftime(TIME_FMT) }}">
        {{ created_at.strftime(HUMAN_FMT) }}
      </time>
    </span>
    <span>
      Updated at:
      <time datetime="{{ updated_at.strftime(TIME_FMT) }}">
        {{ updated_at.strftime(HUMAN_FMT) }}
      </time>
    </span>
  </section>
</main>
{% endcall %}

