@import url("../layout.scss");

/********
 * CARD *
 ********/

main {
  & > .card {
    grid-template-areas:
      "img"
      "title"
      "detail"
      "meta";

    & > .figure-img {
      grid-area: img;
    }

    & > .figure-title {
      grid-area: title;
    }

    & > .figure-detail {
      grid-area: detail;
    }

    & > .figure-meta {
      grid-area: meta;
    }
  }
}
