@use "sass:math";
@import "../layout";

:root {
  --card-shadow: #ccc;
  --facade-colour: rgb(140, 140, 140);
  --facade-background: rgba(250, 250, 250, 0.8);
  --image-placeholder-color: rgb(200, 200, 200);
}

$grid_gap: 1.7em;
$card_width: 25em;

/********
 * MAIN *
 ********/

main {
  margin-top: 0;
  @media (max-width: $transition_width) {
    margin-top: -$side_padding_v;
  }
}

.masonry {
  column-gap: $grid_gap;
  row-gap: $grid_gap;

  .col-gap-sizer {
    width: $grid_gap;
  }

  &.scripting > .card {
    margin-top: math.div($grid_gap, 2);
    margin-bottom: math.div($grid_gap, 2);
  }

  @mixin size_col($cols) {
    grid-template-columns: repeat($cols, 1fr);
    &.scripting > .card {
      width: calc((100% - #{($cols - 1) * $grid_gap}) / #{$cols});
    }
  }
  $max_cols: 4;
  @include size_col(1);
  @for $i from 2 through $max_cols {
    @media (min-width: $card_width * $i) {
      @include size_col($i);
    }
  }
}

/********
 * CARD *
 ********/

.masonry > .card {
  overflow-x: hidden;

  grid-template-columns: 1fr;
  grid-template-rows: auto;

  > .figure-img {
    grid-area: img;
  }

  > .figure-title {
    grid-area: title;
  }

  > .figure-detail {
    grid-area: detail;
  }
  > .figure-meta {
    grid-area: meta;
  }

  grid-template-areas:
    "img"
    "title"
    "detail"
    "meta";
}

.masonry > .card {
  $inner_shadow: 0.5em;
  $outer_shadow: 0.8em;

  box-shadow: 0 0 $inner_shadow var(--card-shadow);
  background-color: var(--background-colour-light);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 $outer_shadow var(--card-shadow);
  }
}

/*******
 * IMG *
 *******/

.card > .figure-img {
  text-decoration: none;

  img {
    color: var(--facade-background);
    background-color: var(--image-placeholder-color);
  }

  > img,
  .figure-facade {
    grid-row: 1;
    grid-column: 1;
  }

  > .figure-facade {
    font-size: 250%;
    color: var(--facade-colour);
    background-color: var(--facade-background);
  }

  &:hover {
    > .figure-facade {
      display: grid;
    }
  }
}

