@import "../layout";

main {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  background-color: var(--background-colour-light);

  .repo-header {
    .big-button {
      border-style: dashed;
      color: var(--text-color);
    }
  }

  .repo-footer {
    i {
      width: 1.5em;
    }
  }
}
