@import "../layout";

main {
  grid-template-rows: auto 1fr auto;

  #repo-header, #repo-footer {
    width: var(--main-md-width);
  }

  #repo-header {
    .big-button {
      border-style: dashed;
      color: var(--text-color);
    }
  }

  #repo-footer {
    i {
      width: 1.5em;
    }
  }
}

