@import "../layout";

main {
  grid-template-rows: auto 1fr auto;

  #repo-header {
    align-self: end;
    justify-self: end;
    
    .big-button {
      border-style: dashed;
      color: var(--text-color);
    }
  }

  #repo-footer {
    align-self: end;
    justify-self: end;
    i {
      width: 1.5em;
    }
  }
}

