@import ".cache/hl";
:root {
  --code-colour: rgb(245, 245, 245);
  --table-border-colour: hsl(210, 10%, 90%);
  --table-alternate-colour: hsl(210, 30%, 99%);
}

@mixin md_border() {
  border-style: solid;
  border-width: thin;
  border-radius: 0.2em;
  border-color: transparent;
}

.markdown {
  img {
    max-width: 100%;
    height: auto;

    @include md_border();
  }

  ul > li {
    line-height: 140%;

    &::before {
      color: var(--highlight-colour);
    }
  }

  pre,
  blockquote {
    $padding: 0.5em;
    $col_thic: 0.3em;
    $col_gap: 0.5em;

    width: calc(100% - $col_thic - $col_gap);
    max-width: inherit;
    overflow-x: scroll;

    display: grid;
    grid-template-columns: $col_thic 1fr;
    grid-template-rows: auto;
    column-gap: $col_gap;

    padding-left: $padding;
    padding-right: $padding;

    &::before {
      grid-row: span 100;
      content: "";
      background-color: var(--highlight-colour);
    }

    > *:not(first-child) {
      grid-column: 2;
      @include md_border();
    }
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    > * {
      $margin: 0.5em;
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }

  code {
    background-color: var(--code-colour);
  }

  table {
    border-collapse: collapse;

    thead > tr > th,
    tbody > tr > td {
      $padding-y: 0.3em;
      $padding-x: 0.7em;

      border-width: thin;
      border-style: solid;
      border-color: var(--table-border-colour);

      padding-top: $padding-y;
      padding-bottom: $padding-y;
      padding-left: $padding-x;
      padding-right: $padding-x;
    }

    tbody > tr:nth-child(even) {
      background-color: var(--table-alternate-colour);
    }
  }
}

