@import "../../.cache/hl";

.markdown {
  tex img {
    @apply object-contain max-w-full  h-auto;
    @apply border-transparent border-2 rounded;
  }

  ul > li {
    @apply leading-normal before:text-pink-400;

    &::before {
      @apply text-pink-400;
    }
  }

  pre,
  blockquote {
    @apply grid w-full overflow-x-auto;

    max-width: inherit;

    grid-template-columns: 0.3em 1fr;
    grid-template-rows: auto;
    @apply gap-x-2;

    @apply px-2;

    &::before {
      grid-row: span 100;
      content: "";
      @apply bg-pink-400;
    }

    > *:not(first-child) {
      @apply grid-cols-2;
      @apply border-transparent border-2 rounded;
    }
  }

  blockquote {
    @apply mx-0;
    > * {
      @apply my-2;
    }
  }

  code {
    @apply bg-gray-200;
  }

  table {
    @apply table-auto border-collapse;

    thead > tr > th,
    tbody > tr > td {
      @apply border-2 border-solid border-gray-300;
      @apply px-1 py-1;
    }

    tbody > tr:nth-child(even) {
      @apply bg-purple-100;
    }
  }
}
