{% macro github_lang %}
  <span className={cn("github-lang")}>
    <i
      className={cn("border-circle", "d-inline-block")}
      style={{ backgroundColor: colour }}
    ></i>{" "}
    {lang}
  </span>
{% endmacro %}


{% macro github_stars %}
  <span className={cn("github-stars", { hidden: stars === 0 })}>
    <i className="fas fa-star"></i> {stars}
  </span>
{% endmacro %}


{% macro github_forks %}
  <span className={cn("github-forks", { hidden: forks === 0 })}>
    <i className="fas fa-code-branch"></i> {forks}
  </span>
{% endmacro %}


