@import "../layout";

main {
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: var(--background-colour-light);

  text-align: center;

  > h1 {
    color: var(--desc-colour);
    font-size: 600%;
  }

  i {
    color: var(--highlight-colour);
  }
}
