@import "../layout";

:root {
  --card-shadow: #ccc;
}

main {
  $padding_v: 1em;
  $padding_h: 1em;

  padding-top: $padding_v;
  padding-bottom: $padding_v;
  padding-left: $padding_h;
  padding-right: $padding_h;
}

.card {
  box-shadow: 0 0 0.2em var(--card-shadow);
  background-color: var(--background-colour-light);
}
