@import "../layout";
@import "../markdown";

$article_padding_vertical: 2em;
$article_padding_horizontal: 2em;

:root {
  --max-md-w: 60em;
}

main {
  background-color: var(--background-colour-light);
  padding-top: $article_padding_vertical;
  padding-bottom: $article_padding_vertical;
  padding-left: $article_padding_horizontal;
  padding-right: $article_padding_horizontal;

  .repo {
    width: 90%;
    max-width: var(--max-md-w);
    margin: auto;
  }

  .repo-header {
    justify-content: flex-end;
    .button {
    }
  }

  .repo-footer {
    margin-top: 2em;

    justify-content: flex-end;

    > * {
      margin-left: 1em;
    }
  }
}
