@import "../layout";
@import "../markdown";

main {
  grid-template-columns: minmax(1fr, 100vw);
  grid-template-rows: auto;

  $article_padding_v: 2em;
  $article_padding_h: 2em;

  padding-top: $article_padding_v;
  padding-bottom: $article_padding_v;
  padding-left: $article_padding_h;
  padding-right: $article_padding_h;

  > section {
    width: 100%;
    $max_md_w: 60em;
    max-width: $max_md_w;
    margin: auto;
  }

  .repo-header {
    justify-content: end;
  }

  .repo-footer {
    justify-content: end;
    grid-column-gap: 1em;
  }

  background-color: var(--background-colour-light);
}
