@import "../layout";
@import "../markdown";

$article_padding_vertical: 2em;
$article_padding_horizontal: 2em;

main {
  background-color: var(--background-colour-light);
  padding-top: $article_padding_vertical;
  padding-bottom: $article_padding_vertical;
  padding-left: $article_padding_horizontal;
  padding-right: $article_padding_horizontal;

  .markdown {
    width: 90%;
  }
}
