<!--% from "layout/aside/00_headshot.html" import aside_headshot with context %-->
<!--% from "layout/aside/01_about_me.html" import aside_about_me with context %-->
<!--% from "layout/aside/02_nav.html" import aside_nav with context %-->
<!--% from "layout/aside/03_associations.html" import aside_associations with context %-->

<!--% macro html(path, css=[], js=[], desc="") %-->
<!--% set header = read_data("header.yml") %-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<!--{ desc | e }-->" />
    <title><!--{ header.title | e }--></title>
    <!--% for c in css %-->
    <link rel="stylesheet" href="<!--{ c | e }-->" />
    <!--% endfor %-->

    <!--% for j in js %-->
    <script type="module" src="<!--{ j | e }-->"></script>
    <!--% endfor %-->
  </head>

  <body class="m-0 flex min-h-screen w-screen p-0">
    <input
      class="hidden"
      id="layout-checkbox"
      type="checkbox"
      aria-hidden="true"
    />
    <div
      class="group/layout grid w-full content-start scroll-smooth break-words bg-gray-50 text-secondary-800 selection:bg-tertiary-200"
    >
      <header
        class="mb-4 grid grid-flow-col justify-between gap-x-2 px-8 pt-4 sm:mb-0"
      >
        <label
          class="big-button inline-block font-medium sm:hidden"
          for="layout-checkbox"
        >
          <i class="fas fa-bars"></i>
          <!--{ header.menu | e }-->
        </label>
        <div class="prose overflow-ellipsis text-right">
          <h3 class="uppercase">
            <a class="invis-link" href="/index.html">
              <!--{ header.title | e }-->
            </a>
          </h3>
        </div>
      </header>

      <aside
        class="hidden grid-flow-row grid-cols-1 content-start gap-4 px-8 group-[input:checked+_&]/layout:grid sm:grid"
      >
        <!--{ aside_headshot() }-->
        <!--{ aside_about_me() }-->
        <!--{ aside_nav(path=path) }-->
        <!--{ aside_associations() }-->
      </aside>

      <div
        class="w-full bg-secondary-100 px-8 pt-2 group-[input:checked+_&]/layout:hidden sm:!block sm:pt-8"
      >
        <!--{ caller() }-->
      </div>

      <footer class="mt-4 grid items-center justify-items-center">
        <div class="markdown">
          <a href="https://github.com/<!--{ user | e }-->">
            <span>©</span>
            <!--{ now.year }-->
            <span><!--{ user | e }--></span>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
<!--% endmacro %-->
