{% macro circle(href, class) %}
<a
  class="
    association-circle
    border-solid border-thin border-circle
    d-flex
    ai-centre
    jc-centre
    p-2
    m-2
    text-centre
  "
  href="{{ href | urlencode }}"
>
  <i class="{{class}}"></i>
</a>
{% endmacro %}

{% macro associations(contacts) %}
<section
  id="associations" className="associations d-flex flex-wrap"
>
  {{ circle(href=f"mailto:{contacts.email}", class="far fa-envelope" }}
  {{ circle(href=f"https://www.linkedin.com/in/{contacts.linkedin}", class="fab fa-linkedin-in" }}
  {{ circle(href=f"https://github.com/{contacts.github}", class="fab fa-github" }}
  {{ circle(href=f"https://stackexchange.com/users/{contacts.stackoverflow}", class="fab fa-stack-overflow" }}
</section>
{% endmacro %}
