/********
 * View *
 ********/

.vw100 {
  width: 100vw;
}

.vh100 {
  width: 100vh;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

/***********
 * Display *
 ***********/

.grid {
  display: grid;
}

.grid-centre {
  place-self: center;
}

.overflow-hide-x {
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

/**********
 * Border *
 **********/

.border-thin {
  border-style: solid;
  border-width: thin;
}

.border-circle {
  border-radius: 50%;
}

/********
 * Text *
 ********/

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-centre {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

/*********
 * Image *
 *********/

.img-responsive {
  max-width: 100%;
  height: auto;
}
