:root {
  --background-colour-dark: rgb(245, 245, 245);
  --background-colour-light: rgb(250, 250, 250);
  --highlight-colour: rgb(240, 80, 130);
  --desc-colour: #999999;
}

body {
  background-color: var(--background-colour-dark);
}
