:root {
  --background-colour-dark: rgb(245, 245, 245);
  --background-colour-light: rgb(250, 250, 250);
  --highlight-colour: rgb(240, 80, 130);
  --desc-colour: #999999;
}

body {
  background-color: var(--background-colour-dark);
}

a {
  all: unset;
  cursor: pointer;
  :active,
  :focus,
  :hover {
    text-decoration: dotted;
    text-decoration-color: var(--highlight-colour);
  }
}

button {
  all: unset;
  color: var(--highlight-colour);
  border-style: solid;
  border-width: thin;
  border-color: var(--highlight-colour);
  cursor: pointer;
  :active,
  :focus,
  :hover {
    filter: invert(100%);
  }
}
