:root {
  --background-colour-dark: rgb(245, 245, 245);
  --background-colour-light: rgb(255, 255, 255);
  --highlight-colour: rgb(240, 80, 130);
  --desc-colour: #999999;
}

body {
  background-color: var(--background-colour-dark);
}

a {
  all: unset;
  cursor: pointer;
  &:active,
  &:hover {
    text-decoration: dotted;
    text-decoration-color: var(--highlight-colour);
  }
}

.page-title {
  &:active,
  &:hover {
    text-decoration: dotted;
    text-decoration-color: var(--highlight-colour);
  }
}
