/********
 * VARS *
 ********/

$transition_width: 60em;

:root {
  --background-colour-dark: rgb(245, 245, 245);
  --background-colour-light: rgb(255, 255, 255);
  --highlight-colour: rgb(240, 80, 130);
  --desc-colour: #999999;

  --nav-padding: 3em;

  --menu-padding-horizontal: 0.7em;
  --menu-padding-vertical: 0.6em;

  --aside-padding-horizontal: 0.2em;

  --associations-size: 2.1em;
  --associations-margin: 0.4em;
}

/********
 * BODY *
 ********/

body {
  display: flex;
  flex-direction: row;

  background-color: var(--background-colour-dark);

  #left-panel {
    flex-shrink: 0;
    width: 21%;
  }

  #right-panel {
    flex-grow: 1;
    overflow-x: hidden;
  }
}

/*********
 * ASIDE *
 *********/

aside {
  padding-left: var(--aside-padding-horizontal);
  padding-right: var(--aside-padding-horizontal);

  flex-direction: column;
  #about-me {
    display: flex;
    flex-direction: column;
    p {
      color: var(--desc-colour);
    }
  }
  #nav {
    padding-top: var(--nav-padding);
    padding-bottom: var(--nav-padding);
    display: flex;
    flex-direction: column;
  }
  #associations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    > * {
      width: var(--associations-size);
      height: var(--associations-size);
      margin-left: var(--associations-margin);
      margin-right: var(--associations-margin);

      border-radius: 50%;
      border-style: solid;
      border-width: thin;
      border-color: var(--desc-colour);

      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
}

// BEGIN -- size
aside {
  display: flex;
}
@media (max-width: $transition_width) {
  aside {
    display: none;
  }
}
// END -- size

/**********
 * HEADER *
 **********/

header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  #header-menu {
    all: unset;
    align-self: center;
    padding-left: var(--menu-padding-horizontal);
    padding-right: var(--menu-padding-horizontal);
    padding-top: var(--menu-padding-vertical);
    padding-bottom: var(--menu-padding-vertical);
    text-transform: capitalize;
    color: var(--highlight-colour);
    border-style: solid;
    border-width: thin;
    border-color: var(--highlight-colour);
    cursor: pointer;
    &:active,
    &:hover {
      color: var(--background-colour-light);
      background-color: var(--highlight-colour);
    }
  }
}

// BEGIN -- size
header {
  display: none;
}
@media (max-width: $transition_width) {
  header {
    display: flex;
  }
}
// END -- size

/**********
 * FOOTER *
 **********/

footer {
  display: flex;
  flex-direction: column;
  p {
    color: var(--desc-colour);
    text-align: center;
  }
}

/********
 * MISC *
 ********/

ul {
  list-style: none;
  padding-left: 0;

  li {
    &:before {
      content: ">";
      padding-right: 0.2em;
    }
  }
}

a {
  all: unset;
  cursor: pointer;
  &:active,
  &:hover {
    text-decoration: dotted;
    text-decoration-color: var(--highlight-colour);
  }
}

/***********
 * CLASSES *
 ********J**/

.page-title {
  align-self: flex-start;
  text-transform: uppercase;
  &:active,
  &:hover {
    text-decoration: dotted;
    text-decoration-color: var(--highlight-colour);
  }
}

.hidden {
  display: none;
}
