@import "../../../node_modules/highlight.js/styles/github.css";
:root {
  --code-colour: rgb(250, 250, 250);
}

@mixin md_border($colour) {
  border-style: solid;
  border-width: thin;
  border-radius: 0.2em;
  border-color: $colour;
}

.markdown {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    > * {
      display: inline;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  img {
    max-width: 100%;
    height: auto;

    @include md_border(transparent);
  }

  ul > li {
    &::before {
      color: var(--highlight-colour);
    }
  }

  pre {
    $col_thic: 0.3em;
    $col_gap: 0.5em;

    width: 100%;

    display: grid;
    grid-template-columns: $col_thic 1fr;
    grid-template-rows: 1fr;
    column-gap: $col_gap;

    overflow-x: scroll;

    &::before {
      content: "";
      background-color: var(--highlight-colour);
    }

    > code {
      background-color: unset;
      @include md_border(var(--code-colour));
    }
  }

  code {
    background-color: var(--code-colour);
  }
}
