footer {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  flex-direction: column;
}

header {
  display: none;
  flex-direction: row;
}

@media (max-width: 60em) {
  header {
    display: flex;
  }
}

main {
  display: flex;
  flex-direction: column;
}
