@import "./variables";

/********
 * BODY *
 ********/

body {
  display: flex;
  flex-direction: row;
  padding-top: $padding_vertical;
  padding-bottom: $padding_vertical;
  padding-left: $padding_horizontal;
  padding-right: $padding_horizontal;

  #left-panel {
    flex-grow: 0.25;
  }

  #right-panel {
    flex-grow: 1;
  }
}

/*********
 * ASIDE *
 *********/

aside {
  flex-direction: column;
  #about-me {
    display: flex;
    flex-direction: column;
  }
  #nav {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
  }
  #associations {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
  }
}

// BEGIN -- size
aside {
  display: flex;
}
@media (max-width: $transition_width) {
  aside {
    display: none;
  }
}
// END -- size

/**********
 * HEADER *
 **********/

header {
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

// BEGIN -- size
header {
  display: none;
}
@media (max-width: $transition_width) {
  header {
    display: flex;
  }
}
// END -- size

/**********
 * FOOTER *
 **********/

footer {
  display: flex;
  flex-direction: column;
}

/********
 * MISC *
 ********/

.page-title {
  text-transform: uppercase;
}
