/*
 * Variables
 */
:root {
}
/*
 * Main layout
 */
body {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
}
aside {
  display: flex;
  flex-direction: column;
}
@media (max-width: 60em) {
  aside {
    display: none;
  }
}
header {
  display: none;
  flex-direction: row;
}
@media (max-width: 60em) {
  header {
    display: flex;
  }
}
main {
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  flex-direction: column;
}
/*
 * Sub layout - Header
 */
header {
  align-items: flex-start;
  /* justify-content: space-between; */
}
.page-title {
  text-transform: uppercase;
}
/*
 * Sub layout - ASIDE
 */
#about-me {
  display: flex;
  flex-direction: column;
}
#nav {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}
#associations {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}
/*
 * Sub layout - Header
 */
